@tailwind base;
@tailwind components;
@tailwind utilities;

.section-images {
  background-image: url(../src/images/bigImg-11834d4b.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* width: 100%; */
}
.Fpic {
  background-image: url(../src//images/partner.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Spic {
  background-image: url(../src/images/secondImg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
